:root{
    /*font-size: 10px;*/
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.wrapperAll{
    margin: 0 auto;
    overflow: hidden;
}

/*Header*/

.wrapperForTwo{
    height: 780px;
    background: url("../assets/main_fox.jpg") no-repeat center ;
    color: #FFFFFF;
    background-color: #02160b
}

.content{
    width: 1200px;
    margin: 0 auto;
}

.wrapperForTwo_header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logoWrapper{
    width: 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoText{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    text-decoration: none;
    color: #FFFFFF;
}

.wrapperForTwo_header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
}

.nav_menu{
    font-size: 23px;
    line-height: 60px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.8s linear;
}

.nav_menu:hover{
    cursor: pointer;
    opacity: 0.6;
}

.nav_searcher{
    transition: 0.5s linear;
}

.nav_searcher:hover{
    cursor: pointer;
    opacity: 0.4;
}

.navButton{
    display: inline-block;
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s ease-in;
}

.navButton:hover{
    background-color: #CD6326;
    cursor: default;
    color: #FFFFFF;
}

.navButton:active {
    background-color: #8F5613;
    border: #8F5613;
}

.navButton_text{
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.wrapperForTwo_survival{
    padding-top: 120px;
}

.titleH1{
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    text-transform: capitalize;
}

/*Survival*/
.survivalText{
    display: block;
    width: 274px;
    height: 109px;
    font-size: 18px;
    line-height: 27px;
    padding-top: 51px;
}

.mainButton{
    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    margin-top: 48px;
    padding: 0;
    border: none;
    outline: none;
    transition: 0.5s ease-in;
}

.mainButton:hover{
    background: #E39128;
    border: #E39128;
    cursor: default;
}

.mainButton:active {
    background-color: #8F5613;
}

/*Latest Articles*/
.latestArticles{
    background-color: #cccccc;
}

.titleDarkh2{
    padding-top: 120px;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;

}

.subtitleH2{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    padding-top: 20px;
    display: block;

}

.sliderWrapper{
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_buttons{
    transition: 0.5s linear;
}

.slider_buttons:hover{
    cursor: pointer;
    opacity: 0.4;
}


.slider_images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 1023px;
}

.slider_images_item{
    position: relative;
    margin-left: 3px;

}

.animalsName{
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
    position: absolute;
    margin: auto;
    bottom: 79px;
    left: 0;
    right: 0;
    text-transform: capitalize;

}

.animalNews{
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    display: block;
    position: absolute;
    margin: auto;
    bottom: 42px;
    left: 0;
    right: 0;
}

/*Get Notified section*/

.getNotified{
  background-color: #cccccc;

}

.getNotified_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3{
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    padding-top: 239px;
}

.getNotified_form{
    padding-top: 59px;
    display: flex;
    margin-bottom: 240px;
}

.getNotified_form__box{
    width: 540px;
    height: 60px;
    background-color: transparent;
    border: solid 1px #666666;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
    padding: 1px 0 0 13px;
    box-sizing: border-box;
}

.getNotified_form__btn{
    width: 120px;
    height: 60px;
    background: #CD6326;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    padding: 0;
    outline: none;
    border: 1px solid #CD6326;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
}

.getNotified_form__btn:hover{
    background: #E39128;
    border: #E39128;
    cursor: default;
}

.getNotified_form__btn:active {
    background-color: #8F5613;
}

.footerWrapper{
    background-color: #181617;
    color: #FFFFFF;
}

.footerInner{
    padding: 150px 0 150px 0;
    background: url("../assets/leaves.jpg") no-repeat center ;
}

.footer_navigation{
   width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.footer_navigation__menu{
    padding-left: 13px;
    box-sizing: border-box;
    width: 488px;
}

.footer_images{
    display: flex;
    width: 240px;
    justify-content: space-between;
    align-items: center;
}

.share{
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s linear;
}

.share:hover{
    cursor: pointer;
    opacity: 0.4;
}

.share_facebook{
    background: url("../assets/facebook_svg.svg") no-repeat center;
}

.share_pinterest{
    background: url("../assets/pinterest_svg.svg") no-repeat center;
}

.share_insta{
    background: url("../assets/insta_svg.svg") no-repeat center;
}

.share_telega{
    background: url("../assets/telega_svg.svg") no-repeat center;
}

